/* 共通リセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 全体背景とフォント */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
}

/* ヘッダー */
.site-header {
    background-color: #1B5678;
    color: white;
    height: 120px;
    text-align: center;
}

.site-header h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    margin: 39px 0;
}

/* フッター */
.site-footer {
    height: 40px;
    background: #1B5678;
}

.site-footer p {
    height: 21px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    margin: 9.5px 0;

}

/* ログインフォーム全体 */
.login-container {
    width:480px;
    margin: 80px auto 310px auto;
    text-align: center;
}

/* フォームタイトル */
.login-container h2 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 80px;
    color: #000000BF;
}

/* エラーメッセージ */
.error {
    background-color: #f8d7da;
    color: #842029;
    font-size: 16px;
    text-align: center;
}

/* ラベルとインプット */
.form-group {
    text-align: left;
    margin-bottom: 48px;
}

.form-group label {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin-bottom: 9.5px;
    letter-spacing: 0.15px;
    color: #0000008A;
}

.form-group input {
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    padding-bottom: 6.5px;
}

/* ボタン共通 */
button {
    background-color: #1B5678;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    transition: background-color 0.3s;
    border-radius: 4px;
}

button:hover {
    background-color: #1f3d5c;
}
