body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    height: 120px;
    background-color: #1B5678;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    margin-left: 49px;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
  }
  
  .logout-form button {
    background-color: white;
    border: none;
    margin-right: 40px;
    padding: 16px 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .profile-section {
    text-align: center;
  }
  
  .profile-content {
    width: 960px;
    display: flex;
    height:360px;
    align-items: center;
    margin:80px auto 120px auto;
    gap: 80px;
  }
  
  .profile-img {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
  }

  .profile-img p {
    height: 57px;
    position: absolute;
    top:100%;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%); 
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

  .gray-placeholder {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background-color: #ccc;
  }
  
  .profile-text {
    flex: 1; 
    text-align: left;
    height: auto;
    text-align: left;
    margin: 52px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .profile-text h2 {
    font-size: 24px;
    margin:52px 280px 32px 0;
    font-size: 36px;
    padding-bottom:16px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  }
  
  .profile-text p {
    font-size: 18px;
    margin: 0;
    max-height: 133px;
    overflow-y: auto;
    word-break: break-word;
    white-space: pre-wrap;
  }
  
  .profile-text button {
    border-radius: 4px;
    margin-top: 32px;
    background-color: #1B5678;
    color: white;
    border: none;
    padding: 16px 40px;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
  }
  
  .profile-name {
    margin-top: 1rem;
    font-size: 18px;
    font-weight: bold;
  }

  .study-chart {
    margin-bottom: 46px;
  }

  .study-chart h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    padding-bottom:16px;
    margin:0;
  }
    
  .study-chart button {
    background-color: #1B5678;
    color: white;
    border: none;
    padding: 16px 40px;
    font-weight: 400;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 40px;
    cursor: pointer;
  }
  
  .chart-section {
    text-align: center;
  }

  .chart-container {
    margin: 0 12% 81.5px 12%;
    height:629px;
  }
  
  .chart-section h2 {
    font-size: 24px;
  }
  
  .chart-section hr {
    margin: 0.5rem auto 1.5rem auto;
    border: none;
    height: 1px;
    background-color: #ccc;
    width: 200px;
  }
  
  
  .footer {
    font-size: 18px;
    font-weight: 400;
    height: 40px;
    background-color: #1B5678;
    color: white;
    display: flex;
    align-items: center;   /* ← 垂直方向（上下）の中央揃え */
    justify-content: center;
  }

  .footer p {
    margin: 0;
  }
