body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    height: 120px;
    background-color: #1B5678;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    margin-left: 49px;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
  }
  
  .logout-form button {
    background-color: white;
    border: none;
    margin-right: 40px;
    padding: 16px 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .profile-section {
    text-align: center;
  }
  
  .profile-content {
    display: flex;
    height:360px;
    align-items: center;
    margin:80px 240px 10px 240px;
    gap: 80px;
    overflow: hidden;
  }
  
  .profile-image {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    object-fit: cover;
  }

  .gray-placeholder {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background-color: #ccc;
  }
  
  .profile-text {
    flex: 1; 
    text-align: left;
    height: 360px;
    text-align: left;
    margin: 52px 0;
  }
  
  .profile-text h2 {
    font-size: 24px;
    margin:0 280px 32px 0;
    font-size: 36px;
    padding-bottom:16px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  }
  
  .profile-text hr {
    margin: 0.5rem 0 1rem 0;
    border: none;
    height: 1px;
    background-color: #ccc;
  }
  
  .profile-text p {
    margin-bottom: 1rem;
    line-height: 1.6;
  }
  
  .profile-text button {
    background-color: #194766;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .profile-name {
    margin-top: 1rem;
    font-size: 18px;
    font-weight: bold;
  }
  
  .chart-section {
    text-align: center;
  }
  
  .chart-section h2 {
    font-size: 24px;
  }
  
  .chart-section hr {
    margin: 0.5rem auto 1.5rem auto;
    border: none;
    height: 1px;
    background-color: #ccc;
    width: 200px;
  }
  
  .chart-section button {
    background-color: #194766;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 4px;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  
  .chart-container {
    max-width: 800px;
    margin: auto;
  }
  
  .footer {
    background-color: #194766;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 4rem;
  }
