<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>sign in</title>
  <link th:href="@{/css/regist.css}" rel="stylesheet">
  <link href="../static/css/regist.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body> 
  <header>
    <!-- ロゴ（MyPortfolio） -->
    <div class="header-logo">
      My Portfolio
    </div>
    <a href="/login" class="header-btn">ログイン</a>
  </header>

  <!-- メインコンテンツ -->
  <main class="main-contents">
    <!-- 見出し：新規登録 -->
    <h1 class="main-title">新規登録</h1>

    <!-- 入力欄 -->
    <form th:action="@{/register}" th:object="${user}" method="post" class="form">
      <div class="form-name">
        <label for="name" class="label">氏名</label>
        <input type="text"  id="name" th:field="*{name}">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></div>
      </div>
      <div class="form-email">
        <label for="email" class="label">メールアドレス</label>
        <input type="email" id="email" th:field="*{email}">
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
      </div>
      <div class="form-pass">
        <label for="password" class="label">パスワード</label>
        <input type="password" id="password" th:field="*{password}" >
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>
      </div>
      <!-- 登録ボタン -->
      <button type="submit" class="register-btn">登録する</button>
    </form>
  </main>

  <!-- フッター -->
  <footer>
    <!-- ロゴ（Portfolio Site） -->
    <p class="footer-logo">portfolio site</p>
  </footer>

</body>
</html>
