<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>項目追加</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/skill_add.css}">
  <th:block th:remove="all">
    <link rel="stylesheet" href="../static/css/skill_add.css">
  </th:block>
</head>
<body>
    <!--#########  header  ########-->
    <header>
        <div class="header-title">
            <a th:href="@{/top}">My Portfolio</a>
        </div>
        <form th:action="@{/logout}" method="post" class="logout">
            <button type="submit">ログアウト</button>
        </form> 
    </header>
    <!--#########  main  ########-->
    <div class="main-contents">
        <div class ="main-title">
            <h1 th:switch="${categoryId}">
                <span th:case="1">バックエンドに項目を追加</span>
                <span th:case="2">フロントエンドに項目を追加</span>
                <span th:case="3">インフラに項目を追加</span>
            </h1>
        </div>
        <!--#########  main-form  ########-->
        <form class="main-form"  th:object="${learningDataDto}" th:action="@{/skill/add/submit}" method="post">
            <!-- 学習月とカテゴリーIDをコントローラーに渡すためにhidenでデータ受け取り、　URL改変対策にエラーメッセージ表示設定-->
            <input type="hidden" th:field="*{categoryId}" th:value="${categoryId}" />
            <div class="error-message" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"></div>

            <input type="hidden" th:field="*{studyMonth}" th:value="${studyMonth}" />
            <div class="error-message" th:if="${#fields.hasErrors('studyMonth')}" th:errors="*{studyMonth}"></div>
            <!--ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー-->
            <div class="item-name">
                <label for="itemName">項目名</label><br>
                <input id="itemName" th:field="*{itemName}" type="text" placeholder="PHP">
                <div class="error-message" th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}"></div>
            </div>
            <div class="study-minutes">
                <label for="studyMinutes">学習時間</label><br>
                <input id="studyMinutes" th:field="*{studyMinutes}" type="number" placeholder="30">
                <small>分単位で入力してください</small>
                <div class="error-message" th:if="${#fields.hasErrors('studyMinutes')}" th:errors="*{studyMinutes}"></div>
            </div>
            <button type="submit" class="form-button">追加する</button>
        </form>
    </div>
    <!--#########  footer  ########-->
    <footer>
        <div class="footer">
            <p>portfolio site</p>
        </div>
    </footer>

    <!--#########  モーダル  ########-->
    <div th:if="${showModal}" class="modal">
        <div class="modal-content">
            <div class="modal-text" th:with="categoryName=${categoryId == 1 ? 'バックエンド' : 
                                                            categoryId == 2 ? 'フロントエンド' : 
                                                            categoryId == 3 ? 'インフラ' : '不明'}">
                <p th:text="${categoryName + 'に' + itemName + 'を'}">{カテゴリー名} に {項目名} を</p>
                <p th:text="${studyMinutes + '分で追加しました！'}">{学習時間}分で追加しました！</p>
            </div>
            <a th:href="@{/chart/edit(month=${month})}" class="modal-button">編集ページに戻る</a>
        </div>  
    </div>
</body>
